#title {
  position: relative;
  border-radius: 15px;
  opacity: 0.65;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 1px;
  width: 700px;
  background-image: url("https://68.media.tumblr.com/2d1e2fcaad0cf0f083a0f658e6fa95cf/tumblr_inline_mzn9n4LpEV1sn7qlj.gif");
}

#title #main-title {
  font-size: 40px;
  letter-spacing: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  color: White;
  text-align: center;
}

#title #main-title:hover {
  color: #DBFFA6;
}

.floating-menu {
  border-radius: 20px;
  opacity: 0.73;
  line-height: 20px
  font-family: 'Roboto Condensed';
  background: yellowgreen;
  padding: 5px;;
  width: 200px;
  z-index: 100;
  position: fixed;
  top: 60px;
  right: 0px;
}

.floating-menu a,
  .floating-menu h2 {
    line-height: 25px;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    display: block;
    margin: 0 0.5em;
    color: white;
}

.floating-menu:hover {
  opacity: 1.0;
}

.floating-menu a:hover {
  color: #C4F7FD;
}

body {
  font-size: 18px;
  line-height: 30px;
  /*background-color: #6A8F9F;*/
  background-color: #547482;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Hind', sans-serif;
  color: white;
  padding-left: 60px;
  padding-right: 200px;
}

#group-members {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: white;
  font-size: 14px;
}

#history {
  margin-top: 50px;
}

.section-title h3 {
  color: #DBFFA6;
}

.section-title p {
  padding-bottom: 20px;
}

#definition img {
  height: 200px;
}

ul {
  list-style-type: circle;
}

.section-title img{
  border-radius: 15px;
}

#regular img {
  height: 180px;
}

#steady-state img {
  height: 90px;
}

#repl iframe {
  padding-bottom: 30px;
}

#sources a {
  line-height: 10px;
  font-size: 14px;
  color: white;
  padding-bottom: 200px;
}
